<div class='load-repairs-history' id= 'load-repair-history-btn'>
  <button class='govuk-button hackney-focus-colour' onClick="handleAjaxRepairsHistoryFiveYears('<%= repairs_history_api_property_path(property_reference, years_ago: 5) %>')">
    Show last 5 years
  </button>
</div>
