<div class="repairs-history__years">
  <p class="repair-history-years-info govuk-body-s">
    There are no work orders within the <strong>last 2 years</strong>.
  </p>
  <%= render 'load_repairs_history_button', property_reference: @property.reference %>
</div>
