<!DOCTYPE html>
<html>
  <head>
    <title>Hackney Repairs Hub</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <p class="govuk-body-s">
          Please sign in with your Hackney account to proceed
        </p>

        <%= omniauth_login_link %>
      </main>
    </div>
  </body>
</html>
