<!DOCTYPE html>
<html>
  <head>
    <title>RepairsManagement</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= link_to 'Login (AzureAD)', azure_active_directory_login_url %>
  </body>
</html>
