<div class='load-repairs-history' id= 'load-repair-history-btn'>
  <button class='govuk-button hackney-focus-colour' onClick="handleAjaxRepairsHistoryFiveYears('<%= endpoint %>')">
    Show last 5 years
  </button>
</div>


