<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="property-repair-history-tab">
  <p class="govuk-caption-m ajax-loading">Loading repairs history data</p>
</div>

<script>
  window.addEventListener("load", function() {
    var endpoint = "/api/properties/<%= property_reference %>/repairs_history"
    var ajaxTab = document.getElementById('property-repair-history-tab');

    handleAjaxResponse(endpoint, ajaxTab);
  })
</script>
