<% content_for :page_header do %>
  <h1 class="govuk-heading-l">
    <%= property.address %>
    <small class="raise-a-repair-button">
      <%= link_to "Raise a repair on this property", new_property_repair_request_path(property.reference) %>
    </small>
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="hackney-main-section-info">
        <h5 class="govuk-body-s property-details">Property details:</h5>
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= property.address %>
          </span><br>
          <%= property.postcode %>
        </p>
      </div>
    </div>
  </div>
<% end %>
