<div class="govuk-tabs__panel hackney-tabs-info" id="repair-history-tab">
  <p class="govuk-caption-m ajax-loading">Loading repairs history data</p>
</div>

<script>
  window.addEventListener("load", function() {
    var endpoint = "<%= repairs_history_api_property_path(property_reference, years_ago: 2) %>";
    var ajaxTab = document.getElementById('repair-history-tab');

    handleAjaxResponse(endpoint, ajaxTab);
  })
</script>
