<%= render 'property_details_top_section', property: @property_details %>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list hackney-tabs-list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#property-repair-history-tab">
        Repairs history
      </a>
    </li>
  </ul>

  <%= render 'property_repairs_history', property_reference: @property_details.reference %>
</div>
