<%
url = request.path_info
clazz = "hackney-cautionary-contact-table"
if url.include?('new')
clazz += " govuk-!-margin-left-0"
end
%>

<table class="<%= clazz %>">
  <tbody class="govuk-body-xs hackney-body-xs hackney-cautionary-contact">
    <% cautionary_contacts.each do |cautionary_contact| %>
    <tr>
      <th scope="row" class="govuk-!-font-weight-bold">
        <%= cautionary_contact.alert_code -%><%=  cautionary_contact.caller_notes.present? ? ":" : ""  %>
      </th>
      <td>
        <%=  cautionary_contact.caller_notes %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
