<%= form_tag search_work_orders_path do %>
  <div class="govuk-form-group">
    <%= label_tag 'ref', 'Work order reference', class: 'govuk-label' %>
    <%= search_field_tag 'ref', '', class: 'govuk-input govuk-input--width-10' %>
  </div>
  <%= submit_tag 'Search', class: 'govuk-button' %>
<% end %>
