<div class="hackney-note__header">
  <h2 class='govuk-heading-l'>
    Notes and appointments
  </h2>
  <div class='hackney-add-note__text govuk-body-m', onclick="showAddNoteForm()">
    Add a new note
  </div>
</div>

<div class='hackney-add-note__form hidden'>
  <%= form_tag(notes_api_work_order_path(@work_order.reference), method: :post,
  class: "notes-form", id: 'notes-form', onsubmit: "isValidNote(event, 'notes-tab')") do %>
    <%= text_area :note, :text, placeholder: 'Write a new note...', class: 'govuk-textarea hackney-add-note__text-area hackney-focus-colour', rows: 4 %>
    <%= submit_tag "Publish note", class: 'govuk-button publish-notes-button hackney-focus-colour' %>
  <% end %>
</div>

<% if sort_notes_and_appointments(@notes_and_appointments).any? %>
  <ul class="govuk-list hackney-note-timeline">
  <% sort_notes_and_appointments(@notes_and_appointments).each do |note_or_appointment| %>
    <li class="hackney-note" >
      <p class="govuk-body">
        <%= render "work_orders/#{note_or_appointment.model_name.element}", note_or_appointment: note_or_appointment %>
      </p>
    </li>
  <% end %>
  </ul>
<% else %>
  <p class="govuk-body-s">There are no notes or appointments for this work order.</p>
<% end %>
