<h2 class='govuk-heading-l'>
  Possibly related
</h2>

<p class="govuk-body-s">There are no possibly related plumbing work orders from <%= @from.to_s(:govuk_date_short) %> to <%= @to.to_s(:govuk_date_short) %>.</p>
