<h2 class='hackney-heading'>
  Tasks and SOR codes
</h2>

<table class="govuk-table hackney-work-order-table">
  <thead class="govuk-table__head">
  <tr>
    <th class="govuk-table__header" scope="col">SOR</th>
    <th class="govuk-table__header" scope="col">Description</th>
    <th class="govuk-table__header" scope="col">Date added</th>
    <th class="govuk-table__header" scope="col">Quantity (est.)</th>
    <th class="govuk-table__header" scope="col">Quantity (actual)</th>
    <th class="govuk-table__header" scope="col">State</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row hackney-work-order-rows">
      <td class="govuk-table__cell">20060020</td>
      <td class="govuk-table__cell">Plumbing Kitchen repair</td>
      <td class="govuk-table__cell">25 May 2019</td>
      <td class="govuk-table__cell">1.00 <span class="govuk-body-s work-order-quantity-type">Hr</span></td>
      <td class="govuk-table__cell">1.00 <span class="govuk-body-s work-order-quantity-type">Hr</span></td>
      <td class="govuk-table__cell">Awaiting invoice</td>
    </tr>
  </tbody>
</table>
