<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="notes-tab">
  <p class="govuk-caption-m ajax-loading">Loading notes and appointments data</p>
</div>

<script>
  function loadNotesAndAppointments(response) {
    var notesTab = document.getElementById('notes-tab');
    notesTab.innerHTML = response;
  };

  function handleNotesAndAppointmentsApiError() {
    document.getElementById('notes-tab').innerHTML = 'There was a problem with an API while fetching data.'
  };

  var xhttpNotesAndAppointments = new XMLHttpRequest();
  xhttpNotesAndAppointments.open('GET', "/api/work_orders/<%= work_order.reference %>/notes_and_appointments", true);
  xhttpNotesAndAppointments.onreadystatechange = function() {
    if (xhttpNotesAndAppointments.readyState == 4) {
      if (xhttpNotesAndAppointments.status == 200) {
        loadNotesAndAppointments(xhttpNotesAndAppointments.response);
      } else {
        handleNotesAndAppointmentsApiError();
      }
    }
  }
  xhttpNotesAndAppointments.onerror = handleNotesAndAppointmentsApiError;
  xhttpNotesAndAppointments.send();
</script>
