<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="documents">
  <p class="govuk-caption-m ajax-loading">Loading documents data</p>
</div>

<script>
  function loadWorkOrderReports(response) {
    var documentsTab = document.getElementById('documents');
    documentsTab.innerHTML = response;
  };

  function handleWorkOrderReportsApiError() {
    document.getElementById('documents').innerHTML = 'There was a problem with an API while fetching data.'
  };

  var xhttpWorkOrderReports = new XMLHttpRequest();
  xhttpWorkOrderReports.open('GET', "/api/work_orders/<%= @work_order.reference %>/work_order_documents", true);
  xhttpWorkOrderReports.onreadystatechange = function() {
    if (xhttpWorkOrderReports.readyState == 4) {
      if (xhttpWorkOrderReports.status == 200) {
        loadWorkOrderReports(xhttpWorkOrderReports.response);
      } else {
        handleWorkOrderReportsApiError();
      }
    }
  }
  xhttpWorkOrderReports.onerror = handleWorkOrderReportsApiError;
  xhttpWorkOrderReports.send();
</script>

