<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="documents">
  <p class="govuk-caption-m ajax-loading">Loading documents data</p>
</div>

<script>
  window.addEventListener("load", function() {
    var endpoint = "/api/work_orders/<%= work_order_reference %>/documents"
    var ajaxTab = document.getElementById('documents');

    if (ajaxTab) {
      handleAjaxResponse(endpoint, ajaxTab);
    }
  })
</script>

