<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="work-order-repair-history-tab">
  <p class="govuk-caption-m ajax-loading">Loading repairs history data</p>
</div>

<script>
  function loadWorkOrderRepairsHistory(response) {
    var repairsHistoryTab = document.getElementById('work-order-repair-history-tab');
    repairsHistoryTab.innerHTML = response;
  };

  function handleWorkOrderRepairsHistoryApiError() {
    document.getElementById('work-order-repair-history-tab').innerHTML = 'There was a problem with an API while fetching data.'
  };

  var xhttpWorkOrderRepairsHistory = new XMLHttpRequest();
  xhttpWorkOrderRepairsHistory.open('GET', "/api/work_orders/<%= work_order_reference %>/repairs_history", true);
  xhttpWorkOrderRepairsHistory.onreadystatechange = function() {
    if (xhttpWorkOrderRepairsHistory.readyState == 4) {
      if (xhttpWorkOrderRepairsHistory.status == 200) {
        loadWorkOrderRepairsHistory(xhttpWorkOrderRepairsHistory.response);
      } else {
        handleWorkOrderRepairsHistoryApiError();
      }
    }
  }
  xhttpWorkOrderRepairsHistory.onerror = handleWorkOrderRepairsHistoryApiError;
  xhttpWorkOrderRepairsHistory.send();
</script>

