<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="possibly-related-work-orders">
  <p class="govuk-caption-m ajax-loading">Loading possibly related work orders data</p>
</div>

<script>
  window.addEventListener("load", function() {
    var endpoint = "/api/work_orders/<%= work_order_reference %>/possibly_related_work_orders";
    var ajaxTab = document.getElementById('possibly-related-work-orders');

    handleAjaxResponse(endpoint, ajaxTab);
  });
</script>
