<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="work-order-repair-history-tab">
  <p class="govuk-caption-m ajax-loading">Loading repairs history data</p>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    var endpoint = "/api/work_orders/<%= work_order_reference %>/repairs_history"
    handleAjaxResponse(endpoint, 'work-order-repair-history-tab');
  })
</script>

