<div class="govuk-tabs__panel hackney-work-order-tabs-info" id="notes-tab">
  <p class="govuk-caption-m ajax-loading">Loading notes and appointments data</p>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    var endpoint = "/api/work_orders/<%= work_order_reference %>/notes_and_appointments"
    handleAjaxResponse(endpoint, 'notes-tab');
  })
</script>
