<div class="govuk-tabs__panel hackney-tabs-info" id="related-tab">
  <p class="govuk-caption-m ajax-loading">Loading related work orders data</p>
</div>

<script>
  window.addEventListener("load", function() {
    var endpoint = "/api/work_orders/<%= work_order_reference %>/related_work_orders"
    var ajaxTab = document.getElementById('related-tab');

    handleAjaxResponse(endpoint, ajaxTab);
  })
</script>
