<h2 class="govuk-heading-l">List of addresses for <%= params[:ref].upcase %></h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr>
      <th class="govuk-table__header" scope="col">Address</th>
      <th class="govuk-table__header" scope="col">Postcode</th>
      <th class="govuk-table__header" scope="col">Property reference</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @address_list_for_postcode.each do |address| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= address.address %></td>
      <td class="govuk-table__cell"><%= address.postcode %></td>
      <td class="govuk-table__cell"><%= address.reference %></td>
    </tr>
    <% end %>
  </tbody>
</table>
