<%= render 'work_order_reference_top_section', work_order: @work_order %>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list hackney-tabs-list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#repair-history-tab">
        Repairs history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#notes-tab">
        Notes and appointments
      </a>
    </li>
  </ul>

  <%= render 'work_order_notes', work_order: @work_order %>
  <%= render 'work_order_repairs_history', dwelling_work_orders_hierarchy: @work_order.property.dwelling_work_orders_hierarchy, trades: @work_order.property.trades %>
  </ul>
</div>
