@import "govuk-frontend/all";

$hackney-color: #009CA6;

@import 'hackney_header';

.flash-message {
  @include govuk-font($size: 16);
  background-color: $hackney-color;
  color: govuk-colour("grey-4");
  padding: 10px 20px;
  margin-bottom: 10px;
}
