$govuk-font-family: 'Arial', sans-serif;
@import "govuk-frontend/all";
@import "hackney_colour";
@import "hackney_header";
@import "hackney_work_order";
@import "hackney_note";
@import "hackney_tabs";
@import "hackney_building_filtering";
@import "hackney_trade_filtering";
@import "hackney_address_list";

.hidden {
  display: none;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: hackney-colour("housing-2");
}

.hackney-page-header {
  background-color: govuk-colour("grey-4");
  border-bottom: 1px solid govuk-colour("grey-2");
  padding-top: 10px;

  @media (min-width: 641px) {
    padding-bottom: 50px;
  }
}

.hackney-width-container {
  @include govuk-media-query($from: tablet) {
    margin: 0 $govuk-gutter * 2;
  }
}

.hackney-flash-message {
  @include govuk-font($size: 16);
  background-color: hackney-colour("housing-2");
  color: govuk-colour("grey-4");
  margin-bottom: 10px;
  padding: 10px 20px;
}

.hackney-note-info {
  @include govuk-responsive-margin(2, "bottom");
  color: $govuk-secondary-text-colour;
}

.hackney-appointment {
  hr {
    color: govuk-colour("grey-2");
    width: 91%;
    border: none;
    height: 1px;
    background-color: govuk-colour("grey-2");
  }

  table {
    margin: 0 10px 15px 10px;
    text-align: left;

    th {
      font-weight: normal;
    }
  }
}
