.hackney-warning-labels {
  width: 50%;
}

.hackney-property-warning-label {
  padding: 4px 8px;
  color: white !important;
  width: 100%;
}

.hackney-property-warning-label-turquoise {
  background: hackney-colour("housing-2");
}

.hackney-property-warning-label-orange {
  background: hackney-colour("warning");
}

.hackney-cautionary-contact {
  color: white !important;
}

.hackney-cautionary-contact-table {
  background-color: hackney-colour("warning");
  display: inline-block;
  margin: 10px;
  width: 100%;
  padding: 4px 8px;

  th {
    vertical-align: top;
  }
}
