$hackney-colours: (
  "housing-1": #005f61,
  "housing-2": #009ca6,
  "housing-3": #2dccd3,
  "status-planned": #009ca6,
  "status-complete": darkgray,
  "status-not-complete": crimson,
  "warning": #FFA300
);


@function hackney-colour($colour) {
  @return map-get($hackney-colours, quote($colour));
}
