.hackney-property-alerts {
  @extend %govuk-body-s;

  width: 50%;
  color: white;
  padding: 0;

  li {
    margin-bottom: 5px;
    padding: 4px 8px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li.bg-orange {
    background: hackney-colour("warning");
  }

  li.bg-turquoise {
    background: hackney-colour("housing-2");
  }
}

.hackney-related-facilities-table {
  th {
    width: 15%;

    &:first-of-type {
      width: auto;
    }
  }
}
