.hackney-main-section-info {
  background-color: govuk-colour('white');
  padding: 2px;
}
.hackney-main-section-info h5 {
  color: $govuk-secondary-text-colour;
  margin: 5px 10px;
}
.hackney-main-section-info p, ul {
  color: hackney-colour('housing-2');
  margin: 15px 10px;
}
.hackney-work-order-references {
  padding-bottom: 10px
}
.hackney-work-order-references > span {
  margin-right: 10px;
}
.hackney-appointment-info {
  color: $govuk-secondary-text-colour;

  th {
    width: 100px;
  }
}
.hackney-work-order-target-date {
  color: $govuk-secondary-text-colour;
}
.hackney-work-order-date-raised {
  text-align: center;

  .work_order_date_created {
    margin: 0;
  }
  .work_order_time_created {
    color: $govuk-secondary-text-colour;
    margin: 5px;
  }
}

.hackney-work-order-related {
  border-top: 1px solid $govuk-border-colour;
  border-right: 1px solid $govuk-border-colour;
  padding: 0;

  &:last-child {
    border-right: none;
  }

  p {
    color: $govuk-text-colour;
    margin: 5px 0;
  }

  .address {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    background-color: govuk-colour('grey-4');
  }

  ul {
    margin: 0;
    padding: 5px 10px;
    li {
      list-style: none;
      border-bottom: 1px solid $govuk-border-colour;
      margin-bottom: 15px;
    }
  }
}

a {
  color: hackney-colour('housing-2');
  &:visited {
    color: hackney-colour('housing-1');
  }
  &:hover {
    opacity: 0.7;
  }
}

.hackney-work-order-table {
  tbody {
    vertical-align: top;
  }

  td {
    white-space: nowrap;

    &.description {
      white-space: normal;
    }
    .status {
      color: white;
      padding: 4px 10px;
      font-weight: bold;
      display: inline-block;
      width: 90%;
      text-align: center;
    }
    .status-100 { // Collated
      background-color: #009ca6;
    }
    .status-200 { // In Progress
      background-color: #009ca6;
    }
    .status-300 { // Work Complete
      background-color: darkgray;
    }
    .status-350 { // Work Defective
      background-color: crimson;
    }
    .status-400 { // Hold
      background-color: crimson;
    }
    .status-425 { // Variation Outstanding
      background-color: crimson;
    }
    .status-450 { // In Dispute
      background-color: crimson;
    }
    .status-500 { // Approved for Statement
      background-color: darkgray;
    }
    .status-600 { // Statemented
      background-color: darkgray;
    }
    .status-700 { // Cancel Order
      background-color: crimson;
    }
    .status-900 { // Complete
      background-color: darkgray;
    }
  }
}
