.hackney-tabs-list {
  @media (min-width: 641px) {
    margin-top: -86px;
  }
}
.hackney-work-order-tabs-info {
  border: none !important;
}
.govuk-tabs__tab {
  @media (min-width: 641px) {
    background-color: govuk-colour("grey-2") !important;
    color: govuk-colour('white') !important;
  }
  &[aria-selected="true"] {
    background-color: govuk-colour('white') !important;
    color: govuk-colour('black') !important;
  }
}

