.hackney-note {
    border-bottom: 2px solid $govuk-border-colour;
    margin-left: 2rem;
    letter-spacing: 0.5px;
    position: relative;

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:after {
      left: -48px;
      background: govuk-colour("white");
      border-radius: 50%;
      height: 20px;
      width: 20px;
      z-index: 10;
      content: "";
      border: 4px solid govuk-colour("grey-1");
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
}

.hackney-note-timeline {
  border-left: 4px solid govuk-colour("grey-1");
}

.hackney-appointment__tag {
  background: hackney-colour("housing-2");
  color: govuk-colour("white");
  padding: 4px 10px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
