.hackney-tabs-list {
  margin-top: -86px;
}

/* FIXME: this should be generic, not specific to work-order or
 * related-facilities */
.hackney-work-order-tabs-info,
.hackney-related-facilities-tabs-info {
  border: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hackney-tabs-list > li > a {
  background-color: govuk-colour("grey-2");
  color: govuk-colour('white');

  // To change the colour of selected tab, we can only use the aria-selected
  // because of the way gov-uk tabs are working
  &[aria-selected="true"] {
    /* FIXME: those two importants are still important... */
    background-color: govuk-colour('white') !important;
    color: govuk-colour('black') !important;
  }

  &:focus {
    outline: 3px solid hackney-colour('housing-3');
  }
}
