.trade-filter {
  background: govuk-colour("grey-4");
  padding: 15px 10px 5px 10px;
}
.trade-filter-options {
  border-bottom: 1px solid govuk-colour("grey-3");
  padding: 10px 0px;
  margin: 5px 0px;
  &:last-child {
    border-bottom: none;
  }
}
.filter_by_trade_heading {
  border-bottom: none;
}

.clear-all-filters {
  color: hackney-colour('housing-2');
  text-decoration: underline;
  cursor: pointer;
  border: none;
  &:hover {
    opacity: 0.7;
  }
}

.hackney-checkboxes__label {
  padding: 0px 5px;
  cursor: pointer;
}
