.repair-request-sor-code-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    &:last-child {
      .govuk-form-group {
        margin-bottom: 20px;
      }
    }
  }

  th {
    text-align: left;
  }

  td {
    @include govuk-responsive-padding(6, "right");
    text-align: left;
    vertical-align: bottom;
    padding: 0 15px 0 0;
  }

  td.sor-code-column {
  }

  td.quantity-column {
    width: 20%;
  }

  td.keyfax-column {
    width: 154px;
    padding: 0;
  }

  /* FIXME: not great */
  .keyfax-button {
    margin-bottom: 2px;
  }
}

input[name='add_work_order'] {
    margin-bottom: 30px;
}
