.repair-request-sor-code-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    &:last-child {
      .govuk-form-group {
        @include govuk-responsive-margin(4, "bottom");
      }
    }
  }

  th {
    text-align: left;
  }

  td {
    text-align: left;
    vertical-align: bottom;
    @include govuk-responsive-padding(3, "right");
  }

  td.sor-code-column {
  }

  td.quantity-column {
    width: 20%;
  }

  td.keyfax-column {
    padding: 0;
    @include govuk-responsive-padding(6, "left");
    width: 154px;
  }

  /* FIXME: not great */
  .keyfax-button {
    margin-bottom: 2px;
  }
}

input[name='add_task'] {
    @include govuk-responsive-margin(6, "bottom");
}
